[submodule "fanmod-cmd"]
	path = fanmod-cmd
	url = https://github.com/gabbage/fanmod-cmd
[submodule "CSCI3104_GC2"]
	path = CSCI3104_GC2
	url = https://github.com/jptboy/CSCI3104_GC2
[submodule "ParaMODA"]
	path = ParaMODA
	url = https://github.com/smbadiwe/ParaMODA
[submodule "Kavosh"]
	path = Kavosh
	url = https://github.com/shmohammadi86/Kavosh
[submodule "modet"]
	path = modet
	url = https://github.com/sabyasachipatra/modet
[submodule "simplicial"]
	path = simplicial
	url = https://github.com/simoninireland/simplicial
[submodule "javaplex"]
	path = javaplex
	url = https://github.com/appliedtopology/javaplex
