[submodule "fanmod-cmd"]
	path = fanmod-cmd
	url = https://github.com/gabbage/fanmod-cmd
[submodule "CSCI3104_GC2"]
	path = CSCI3104_GC2
	url = https://github.com/jptboy/CSCI3104_GC2
[submodule "ParaMODA"]
	path = ParaMODA
	url = https://github.com/smbadiwe/ParaMODA
[submodule "Kavosh"]
	path = Kavosh
	url = https://github.com/shmohammadi86/Kavosh
[submodule "modet"]
	path = modet
	url = https://github.com/sabyasachipatra/modet
[submodule "simplicial"]
	path = simplicial
	url = https://github.com/simoninireland/simplicial
[submodule "javaplex"]
	path = javaplex
	url = https://github.com/appliedtopology/javaplex
[submodule "ripser"]
	path = ripser
	url = https://github.com/Ripser/ripser
[submodule "simplextree"]
	path = simplextree
	url = https://github.com/peekxc/simplextree
[submodule "Simplicial.jl"]
	path = Simplicial.jl
	url = https://github.com/nebneuron/Simplicial.jl
[submodule "dipha"]
	path = dipha
	url = https://github.com/DIPHA/dipha
[submodule "simplicial-complex"]
	path = simplicial-complex
	url = https://github.com/mikolalysenko/simplicial-complex
[submodule "dionysus"]
	path = dionysus
	url = https://github.com/mrzv/dionysus
